body {
    background-color: #f5f7fa;
}

.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #111827;
}

.sidebar a {
    color: #9ca3af;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    border-radius: 8px;
}

.sidebar a:hover,
.sidebar a.active {
    background: #1f2933;
    color: #fff;
}
.nav-link.router-link-exact-active {
    background-color: #198754;
    color: #fff !important;
}
.content {
    padding: 24px;
}

.card {
    border: none;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
.clamp-1,
.clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-1 {
    -webkit-line-clamp: 1 !important;
    /* number of lines */

}

.clamp-4 {
    -webkit-line-clamp: 4 !important;
    /* number of lines */

}